/* 

TABLE OF CONTENT

  1. global
  2. navbar
  3. info
  4. text box
  5. loading, any key
  6. start screen
  7. bottom
  8. media queries
  9. animations

*/

/* ===========
   1. global
  =============*/
  
html, body {
  margin: 0;
  overflow: hidden;
}

#main-canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  border-color: #f61111;
}

body
{
  background-color: #000000;
  user-select: none; 
}

.orbitron {
  font-family: 'Bangers', cursive;
  font-family: 'Orbitron', sans-serif;
}

.btn-icon {
  position: relative;
  width: 20px;
  height: 20px;
}

/* ===========
  2.  navbar
  =============*/

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 10px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.navbar-brand {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.4em;
  margin-right: auto;
  margin-left: 20px;
}

.navbar-buttons {
  display: flex;
}

.navbar-button {
  padding: 8px 12px;
  margin-right: 20px;
}

/* ==============
   3.   info
  =============== */

.info {
  display: none;
  position: absolute;
  right: 1px;
  top: 10%;
  width: clamp(300px, 60vw, 1000px);
  height: 75vh;
  background-color: rgba(39, 38, 38, 0.99);
  z-index: 99;
  border-radius: 10px;
  border:#b0aeae 1px solid;
  padding: 10px;
  overflow:hidden;
}

.info-text {
  display: flex;
  flex-direction: column;
  color: #b7b7b7;
  text-align: left;
  font-size: 1.5vh;
}

.info-text h3 {
  color: rgb(177, 255, 255);
  font-size: 1.6em;
}

.info-text p{
  font-size: 1.2em;
  margin-left: 20px;
}

.info-list {
  display: list-item;
  margin-left: 40px !important;
}

.esc {
  padding:10px;
  position: absolute;
  top: 2vh;
  right: 2vw;
  border-radius: 50%;
}
.esc:hover {
  outline: rgba(0,255,255,0.5) 2px solid;
}
.esc img {
  height: 1.8em;
  width: 1.8em;
}
/* ==============
  4.  text box
  =============== */

  .element {
    display: block;
    background-color: rgba(178, 227, 240, 0.33); 
    position: absolute; 
    opacity: 0;
    pointer-events: auto; 
    user-select: none; 
    box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
    border: 2px solid rgba(127,255,255,0.85);
    border-radius: 18px;
    text-align: center;
    cursor: default; 
  
  }
  
  .element:hover {
    box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
    border: 2px solid rgba(127,255,255,1);
  }
  
  .element .symbol h2 {
  /*   position: sticky; */
    font-size: 2rem;
    font-weight: bold;
    color: rgba(255,255,255,0.75);
    text-shadow: 0 0 10px rgba(0,255,255,0.95);
  
  }
  
  .element .facts {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    text-align: left;
    margin-left: 4ch;
    color: rgb(255, 255, 255);
  }
  
  .facts p {
    display: list-item;
    font-family: sans-serif;
    margin: 5px;
  }

/* =================
  5. loading, any key
  ================= */

  .btn-loading {
    width: 20px;
    height: 20px;
  }
  
  #loader {
    color: rgb(213, 37, 225);
    text-align: center;
    position: absolute;
    margin: 20px;
    bottom: 20%;
  }
#anyKey {
  position: absolute;
  bottom:15vh;
  left: 50%;
  transform: translateX(-50%);
  color: aliceblue;
  text-align: center;
  font-size: 1em;
}
.blink {
  animation: blinker 3s linear infinite;
}

/* ==============
  6.  start screen
  =============== */

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(69, 69, 69, 0.98);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
  }
  
  .startText {
    position: absolute;
    resize: none;
    align-items: center;
    justify-content: center;  
  }
  .desktop-start {
    top: 20vh;
    width: 50vw;
    height: auto;
    font-size: 1.2vw;
    
  }
  .mobile-start {
    top:20vh;
    width: 80vw;
    height: auto;
    font-size: 3.5vw;
  }
  
  .startText p {
    margin: 20px 0;
    color: rgba(240, 248, 255, 0.916); 
  }
  
  #welcomeText {
    color: rgb(138, 198, 251);
    font-size: 1.6vw;
    margin-bottom: 50px;
    animation-duration: 1.5s;
  }
  .mobile-start #welcomeText {
    font-size: 5vw;
  }
  
  .typed {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing;
    
    animation-timing-function: steps(100, end);
    animation-fill-mode: forwards;
  }
  .ad-25 {
    animation-duration: 2.5s;
  }
  .ad-15 {
    animation-duration: 1.5s;
  }
  .typed.d11 {
    animation-delay: 1.5s;
  }
  .typed.d12 {
    animation-delay: 4s;
  }
  .typed.d13 {
    animation-delay: 6.5s;
  }
  .typed.d21 {
    animation-delay: 1.5s;
  }
  .typed.d22 {
    animation-delay: 3s;
  }
  .typed.d23 {
    animation-delay: 4.5s;
  }
  .typed.d24 {
    animation-delay: 6s;
  }
  .typed.d25 {
    animation-delay: 7.5s;
  }

/* ===========
  7.  bottom 
  =============*/

#bottom {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.arrow-btn {
  margin: 20px;
}

button {
  color: rgba(127,255,255,0.75);
  background: transparent;
  outline: 1px solid rgba(127,255,255,0.75);
  border: 0px;
  border-radius: 12px;
  padding: 5px 10px;
  cursor: pointer;

}

button:hover {
  background-color: rgba(0,255,255,0.5);
}
button:active {
  color: #000000;
  background-color: rgba(0,255,255,0.75);
}

.typing-animation::after {
  content: "";
  display: inline-block;
  animation: typing 1s steps(14), blink-caret 0.5s step-end infinite;
}

/* ==============
  8.  media queries 
  =============== */

@media (orientation: landscape) {
  .element {
    width: clamp(280px, 30vw, 560px);
    height: clamp(200px, 50vh, 360px);
    top: 50%;
    left: 50%;
    transform: translate(20%, -50%);
    overflow: hidden;
    font-size: clamp(1vh, 100%, 2vh);
  }
  .mobile-start {
    display: none;
  }
  #anyKeyMobile {
    display: none;
  }
  #anyKey {
    bottom: clamp(20px,10vh,120px);
  }
}

@media (orientation: portrait) {
  .element {
    width: clamp(200px, 80vw, 480px);
    height: clamp(180px, 33vh, 460px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, 15%);
    overflow: auto;
    font-size: 2vh;
  }
  .desktop-start {
    visibility: hidden;
  }
  #anyKeyDesktop {
    visibility: hidden;
  }
}

/* ===========
  9.  animations 
  =============*/

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}